# Ignore arquivos de configuração de ambientes locais
.env
.env.local
.env.*.local

# Ignore a pasta de dependências do Composer
/vendor/

# Ignore logs
*.log
logs/
log/

# Ignore cache
cache/
*.cache

# Ignore arquivos de build
/build/

# Ignore arquivos de PHPUnit
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist

# Ignore relatórios de cobertura de código
coverage/
coverage-html/
coverage-clover.xml
coverage-*.xml
.clover
.coverage

# Ignore diretórios específicos de IDEs e editores de texto
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignore arquivos de backup e temporários
*.bak
*.tmp
*.swp
*.swo
*~

# Ignore arquivos de deploy do Deployer
.deploy/

# Ignore relatórios de ferramentas de análise de código
phpcs.xml
phpcs.xml.dist
.php_cs.cache
.php_cs.dist
phpmd.xml
phpmd.xml.dist
phpstan.neon
phpstan.neon.dist

# Ignore arquivos de cache do Composer
composer.lock
composer.phar

# Ignore arquivos de cache do PHPUnit
.phpunit.cache/

api/